
.post {
    textarea {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-appearance: textarea;
        background-color: white;
        -webkit-rtl-ordering: logical;
        flex-direction: column;
        resize: auto;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        margin: 0em;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border-width: 1px;
        border-style: solid;
        border: 1px solid #ced4da;
        border-image: initial;
        padding: 2px;
        padding: .375rem .75rem;
        border-radius: .25rem;
    }
    
    input[type=text] {
        display: block;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    button, input[type=button], input[type=submit] {
        display: inline-block;
        font-weight: 400;
        color: #ffffff;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #aaaaaa;
        border: 1px solid #aaaaaa;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-radius: .25rem;
    }
    
    select {
        text-rendering: auto;
        height: calc(1.5em + .75rem + 2px);
        color: black;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: white;
        cursor: default;
        margin: 0em;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border-radius: 0px;
        border-width: 1px;
        border-style: solid;
        border: 1px solid #ced4da;
        border-image: initial;
        padding: .375rem .75rem;
        border-radius: .25rem;
    }
}
