/* Comment */

.discussion-timeline {
    margin-top: 20px;
    padding-top: 2px;
    border-top: 1px solid #e6ebf1;
}

.comment-wrapper {
    position: relative;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    .comment-avatar {
        float: left;
        margin-left: -60px;
        border-radius: 3px;

        .avatar {
            display: inline-block;
            overflow: hidden;
            line-height: 1;
            vertical-align: middle;
            border-radius: 3px;
        }
    }

    .comment-container {
        position: relative;
        background-color: #fff;
        border: 1px solid #d1d5da;
        border-radius: 3px;
    }
    
    .comment-header {
        padding-right: 15px;
        padding-left: 15px;
        color: #586069;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        .comment-header-text {
            padding: 10px 0;
            max-width: 75%;
        }

        .comment-label {
            float: right;
            padding: 2px 5px;
            margin: 8px 0 0 10px;
            font-size: 12px;
            cursor: default;
            border: 1px solid rgba(27, 31, 35, 0.1);
            border-radius: 3px;
        }

        .comment-header-btn {
            display: block;
            float: right;
            margin: 8px 0 0 10px;

            a {
                font-size: 14px;
                padding: 5px;
                color: rgba(27, 31, 35, 0.3) !important;
            }
        }
    }

    cite {

        &.author  {
            color: #c43d3d;

            a {
                color: #c43d3d !important;
            }
        }

        &.reader {
            color: #586069;

            a {
                color: #586069 !important;
            }
        }
    }

    .comment-link {
        color: #586069 !important;
    }
    
    .comment-body {
        width: 100%;
        padding: 15px;
        overflow: visible;
    }

}

.even {
    .comment-header {
        background-color: #f1f8ff;
        border-bottom: 1px solid #c0d3eb;
    }
}

.odd {
    .comment-header {
        background-color: #f6f8fa;
        border-bottom: 1px solid #d1d5da;
    }
}

.comment-reply-title {
    margin: 10px 0;
}


