

.footer {
    margin: 40px 0 20px 0;

    .footer-columns {
        font-weight: 400;
        font-size: 13px;
        text-align: left;
        display: flex;
        justify-content: space-between;

        a, strong {
            font-weight: normal;
            color: #333333;
        }
    }

    .footer-nav {
        text-align: center;
        font-size: 14px;
        display: inline-block;

        ul.footer-menu {
            padding: 0;
            margin: 0;
            display: inline-flex;
            list-style-type: none;
    
            li {
                margin: 0;
                height: 15px;

                &:after {
                    content: "|";
                    color: #aaaaaa;
                    margin: 0 10px;
                    font-size: 13px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                font-size: 13px;
            }
        }

        ul.social-icon-links {
            padding: 0;
            margin: 0;
            display: inline-flex;
            list-style-type: none;
    
            li {
                margin: 5px 10px;
            }

            a {
                color: #333333;
            }
        }
    }
}

.home {
    .footer {
        border-top: 0;
    }
}
