

.footer {
    margin: 40px 0 20px 0;
    border-top: 1px #dddddd solid;

    .site-info {
        font-weight: 400;
        font-size: 12px;
        text-align: center;

        a, strong {
            font-weight: normal;
            color: #333333;
        }
    }
}

.home {
    .footer {
        border-top: 0;
    }
}
