/* Single - Post */

.single-post-header {
    background-color: #fafbfc;
    background: none;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-bottom: 0px solid #e1e4e8;

    h1 {
        font-size: 32px;
        margin-right: 150px;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.125;
        word-wrap: break-word;
    }

    .post-githuber-buttons {
        float: right;
        margin-top: 5px;
    }

    .author-link {
        font-weight: bold;
        color: #586069 !important;
    }

    .post-meta {
        padding: 5px;
        font-size: 14px;

        .poster-avatar {
            margin-right: 5px;
        }
    }
}

/* Single - Post - A part of page title progress bar */

.single-post-title-bar {
	background-color: #24292e;
	color: #c8c9ca;
    font-weight: 600;
    display: none;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform-origin: top;
    transition: .5s ease;

    .container {
        justify-content: flex-start;
    }
    
    &.slide-down {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    
	.logo-img {
		height: 32px;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar {
		padding: 10px !important;
	}
}





