



@include media-breakpoint-down(mx) {
    .px-responsive {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@include media-breakpoint-down(sm) {
    .px-responsive {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@include media-breakpoint-down(md) {
    .px-responsive {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@include media-breakpoint-down(lg) {
    .px-responsive {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@include media-breakpoint-down(xl) {
    .px-responsive {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

