/* Shortcode */

.brand-link {
    text-align: center;
    border: 1px #dddddd solid;
    border-radius: 50%;
    display: inline-block;

    @each $color-name, $color-code in $brand-colors {
        &.brand-#{$color-name} {
            
            border-top-color: lighten($color-code, 10%) !important;
            border-left-color: lighten($color-code, 10%) !important;
            border-right-color: darken($color-code, 10%) !important;
            border-bottom-color: darken($color-code, 10%) !important;
            color: $color-code !important;
        }
    }
}

.brand-sm .brand-link {
    width: 32px;
    height: 32px;
    font-size: 1rem;
    line-height: 32px;
}

.brand-md .brand-link {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 40px;
}

.brand-lg .brand-link {
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    line-height: 48px;
}

.brand-xl .brand-link {
    width: 64px;
    height: 64px;
    font-size: 1.8rem;
    line-height: 64px;
}

/* Author page */

.author-page {
    .brand-link {
        border: 0px;
    }

    .brand-sm .brand-link {
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    
    .brand-md .brand-link {
        width: 22px;
        height: 22px;
        line-height: 22px;
    }
    
    .brand-lg .brand-link {
        width: 28px;
        height: 28px;
        line-height: 28px;
    }

    .brand-xl .brand-link {
        width: 34px;
        height: 34px;
        line-height: 34px;
    }
}