
nav[data-toggle='toc'] .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: $toc_base_font_size;
    font-weight: 500;
    color: #767676;
}

nav[data-toggle='toc'] .nav>li>a:hover,
nav[data-toggle='toc'] .nav>li>a:focus {
    padding-left: 19px;
    color: $toc_main_color;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid $toc_border_color;
}

nav[data-toggle='toc'] .nav-link.active,
nav[data-toggle='toc'] .nav-link.active:hover,
nav[data-toggle='toc'] .nav-link.active:focus {
    padding-left: 18px;
    font-weight: bold;
    color: $toc_main_color;
    background-color: transparent;
    border-left: 3px solid $toc_border_color;
}

/* Nav: second level (shown on .active) */

nav[data-toggle='toc'] .nav-link+ul {
    /* display: none; */
    /* Hide by default, but at >768px, show it */
    padding-bottom: 10px;
}

nav[data-toggle='toc'] .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: $toc_sub_font_size;
    font-weight: normal;
}

nav[data-toggle='toc'] .nav .nav>li>a:hover,
nav[data-toggle='toc'] .nav .nav>li>a:focus {
    padding-left: 27px;
}

nav[data-toggle='toc'] .nav .nav>li>.active,
nav[data-toggle='toc'] .nav .nav>li>.active:hover,
nav[data-toggle='toc'] .nav .nav>li>.active:focus {
    padding-left: 27px;
    font-weight: 500;
}

nav[data-toggle='toc'] .nav-link.active+ul {
    display: block;
}