
.author-card {
    display: flex;
    border-left: 15px gray("200") solid;
    background-color: gray("100");
    border-radius: 3px;
    margin: 20px 0;

    .author-info {
        display: flex;
        flex-direction: column;
    }

    .author-links {
        margin-top: 10px;

        a {
            margin: 5px;
        }

        a:first-child {
            margin-left: 0px;
        }
    }

    > div {
        padding: 25px;
    }

    > img {
        border: 1px gray("400") solid !important;
    }

    .author-title {
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

/* Author page */

.author-page {

    .author-card {
        border: 0px;
        background: none;
        border-radius: 0px;
        margin: 0;
    
        .author-title {
            font-size: 2.5rem;
            line-height: 150%;
            margin-bottom: 10px;
            font-weight: bold;

            a {
                color: #333333;
                text-decoration: none;
            }
        }
    }

    .section-title {
        display: none;
    }
    
}


