// Font settings

$font-family-base-en:    "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !default;
$font-family-title-en:   "Roboto", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !default;
$font-family-heading-en: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !default;

// Font settings - for Mandarin Chinese

$font-family-base-zh:    "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "微軟正黑體", "Microsoft JhengHei", "SimHei", "Microsoft YaHei", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "標楷體", "DFKai-SB" !default;
$font-family-title-zh:   "Roboto", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "SimHei", "Microsoft YaHei", "標楷體", "DFKai-SB" !default;
$font-family-heading-zh: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "SimHei", "Microsoft YaHei", "標楷體", "DFKai-SB" !default;

// Font settings - for Japenese

$font-family-base-ja:    "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic" !default;
$font-family-title-ja:   "Roboto", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic" !default;
$font-family-heading-ja: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic" !default;

// Font settings - for Korean

$font-family-base-ko:    "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Dotum", "Gulim" !default;
$font-family-title-ko:   "Roboto", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Dotum", "Gulim" !default;
$font-family-heading-ko: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Dotum", "Gulim" !default;

$supported-languages: (
	"en",
	"zh",
	"ja",
	"ko"
) !default;

$font-family-base: () !default;
$font-family-base: map-merge((
	"en": $font-family-base-en,
	"zh": $font-family-base-zh,
	"ja": $font-family-base-ja,
	"ko": $font-family-base-ko
), $font-family-base);

$font-family-title: () !default;
$font-family-title: map-merge((
	"en": $font-family-title-en,
	"zh": $font-family-title-zh,
	"ja": $font-family-title-ja,
	"ko": $font-family-title-ko
), $font-family-title);

$font-family-heading: () !default;
$font-family-heading: map-merge((
	"en": $font-family-heading-en,
	"zh": $font-family-heading-zh,
	"ja": $font-family-heading-ja,
	"ko": $font-family-heading-ko
), $font-family-heading);

// Home- Intro box

$home_intro_box_height: 640px !default;
$home_intro_bg:         #2b3137 !default;
$home_intro_font_color: #ffffff !default;

// Header - Navbar

$header_navbar_bg: rgba(20, 25, 29, 0.95) !default;
$header_navbar_link_color: #c8c9ca !default;

$primary_anchor_color: #007bff;

// Table of Content
$toc_main_color:   dodgerblue;
$toc_border_color: dodgerblue;
$toc_base_font_size: 14px;
$toc_sub_font_size:  13px;

// Brand Color
$brand-colors: () !default;
$brand-colors: map-merge((
	"github": #333333,
	"gitlab": #fca326,
	"stackoverflow": #f48024,
	"facebook": #3b5998,
	"twitter": #1da1f2,
	"google": #dd4b39,
	"instagram": #833ab4,
	"pinterest": #bd081c,
	"youtube": #ff0000
), $brand-colors);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-600,
	"gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
), $theme-colors);

$grid-breakpoints: (
	xs: 0,
	mx: 360px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

