
/* WooCommerce */

.woocommerce {

    input, button {
        height: 45px;
        line-height: 45px;
        font-size: 1.2rem;
        border-radius: 4px;
    }

    input[type="number"], select {
        border: 1px #cccccc solid;
        border-radius: 4px;
    }

    .entry-summary {
        font-size: 13px;

        h1, h2, h3, h4, h5, h6 {
            font-size: 1rem !important;
            line-height: 170%;
        }

        p {
            font-size: 13px;

            &.price {
                font-size: 1.2rem !important;
                line-height: 175%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }

        .product_meta {
            border-top: 1px #dddddd solid;
            padding: 10px;
            margin: 10px;
        }
    }

    .is-page {
        .post-mynote-buttons, .modified-date, .post-meta {
            display: none !important;
        }
    }
    
}