.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

html.wp-toolbar {
    padding-top: 0 !important;
    padding-bottom: 32px !important;
	box-sizing: border-box;
}

body {
    &.admin_bar {
        padding-top: 0px !important;
        padding-bottom: 32px !important;
    }

    #wpadminbar {
		position: fixed !important;
        top: auto !important;
		bottom: 0 !important;
		display: block !important;
    }
}


.widget_calendar {

	.calendar_wrap {
		margin: 15px 0;
	}

	table {
		width: 100%;
		border: 1px #dddddd solid;

		th, td, caption {
			text-align: center;
			padding: 5px;
		}
		
		caption {
			font-weight: bold;
		}

		thead {
			border-bottom: 1px #dddddd solid;
		}

		tfoot {
			border-top: 1px #dddddd solid;
		}
	}



}

