.DS_Store
*.rej
*.log
.phpcs-cache
.phpunit.result.cache
node_modules/
vendor/
wp-content/
.pnpm-store

# IDE Files
#-------------------------

/nbproject/
.idea/*

## Sublime Text cache files

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Visual Studio Code

.vscode/
.vscode/*

!.gitignore
